
    a:link {color: white; font-family: Verdana; font-weight: bold;}
    a:visited {color: white;}
    a:hover {color: orange; font-size: 1.1em;}
    a:active {color: yellow;}
    
        body {
        font-size: 1em;
        background-image: url(../assets/poketopia.png);
        background-size: cover;
        background-position: center center;
        height: 100vh;
        margin: 0px;
        }
        h6 {font-size: 2em; font-weight: bold;} 
        .schedule {
            width: 80%;
            max-width: 600px;
            margin-top: 10px;
            padding-top: 50px;
            font-family: Verdana, sans-serif;
            color: white;
            background-color: #9146ff;
             padding: 3px;
            border: 2px solid rgb(81, 29, 81);
            border-radius: 5px;
        }
        .schedule-row {
            display: flex;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
        }
        .day {
            font-size: 2em; /* 2× larger */
            font-weight: bold;
            width: 150px;
        }
        .details {font-size: 1em;}
        .blog-post {font-size: 1em;}
        .big {font-size: 1.5em;}
        .bigger {font-size: 3em;}
        .text-red {color: red;}
         
        #Grand_Heading {
            position: relative; left: 10%; top:100px;
            background: #9146ff;
            padding: 3px;
            border: 2px solid rgb(81, 29, 81);
            border-radius: 5px;
            z-index: 2;
            font-size: 20px; color: white;
            font-family: verdana;
            font-weight: bold;
            text-decoration:underline;
            text-align: left;
            display: inline-block; padding: 5px;
        }
         #quick-bar {
            position: relative; left: 11%; top:90px;
            font-size: 11px;
            color: black;
            padding-bottom: 0px;
            
         }
        #ToC {
            margin-top: 100px;
           
            padding-top: 50px;
            bottom: 1px; 
            text-align: left;
            font-family: Verdana;
            font-size: 2em;
            color: white;
            background-color: #9146ff; 
            display: inline-block;
            width:60%; height:50%;
            padding: 10px;
            border: 2px solid rgb(81, 29, 81);
            border-radius: 5px;
        }
        #updates {
            background: rgb(33, 157, 149);    
            overflow: auto;
            margin: 100px 50px 1px 50px;
            border: 5px ridge green;
            padding-left: 20px;
            padding-right: 20px;
        }   
        .twitch-embed {
            margin-top: 100px;
            max-width: 1080px;
            max-height: 1920px;
            position: relative;
            left: 10%;
            
        }
        #Header {
            width: 100%;
            position: center;
            top: 0px;
            max-width: 100%;
            height: auto;
            vertical-align: top;
        }

    .stream-layout {
    display: flex;
    gap: 5%; /* space between Twitch and YouTube */
    margin-top: 1%;}

    .twitch-column {
    flex: 2;
    width: 100%;
    height: 80%;
}
    .youtube-column {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 100px;
}
    .yt-embed {
    width: 70%;
    height: 35%;
  }